<h1>
  <center>Welcome to my first rails webpage!!<br/>
  <img src="app/assets/images/rails.png" name="icon"></img>
</center><h1>
<div>
  Name: <input type="text" name="name"><br/>
  Email: <input type="text" name="email"><br/>
  Phone: <input type="text" name="phone"><br/>
  <input type="submit" value="Submit">
</div>

<div>
  <%=  %>
</div>